.courseList{
  height: 100%;
  max-width: 84vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
.buyCourse{
  color: #ff5722;
}
.cardTitle{
  font-size: 20px;
  text-align: center;
  color: #3f51b5;
}
.textAlign{
  font-size: 15px;
  text-align: center;
}
.card{
  width: 270px;
  padding-right: 30px;
}
.cardImage{
  width: 240px;
}
.cardAction{
  text-align: center;
  color: #ff5722 !important;
  text-align: center !important;
  margin-right: 0px;
  padding: 16px 24px;
  border-top: 1px solid grey;
  border-radius: 0 0 2px 2px;
}
.card{
  text-align: center;
}