.header {
  text-align: center;
  color: #ff5722;
}

.textInfo {
  text-align: left;
  color: #303f9f;
  font-size: 20px;
}

.heading {
  text-align: center;
  color: #ff5722;
}
.arrow {
  text-align: center;
  color: #303f9f;
}
.wordBreak{
  overflow-wrap: break-all;
  text-align: left;
  color: #303f9f;
  font-size: 20px;
  width: 70%;
}
@media only screen and (max-width: 600px) {
  .header{
    padding-bottom: 10vh !important;
  }
 }
